<div fxLayoutAlign="space-between center">
  <h1>Contacts</h1>
  <span fxFlex="auto"></span>
  <mat-form-field>
    <mat-select (selectionChange)="getContacts($event.value)">
      <mat-option [value]="undefined">All</mat-option>
      <mat-option *ngFor="let company of companies$ | async" [value]="company.id">{{company.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- ... -->
<mat-card *ngFor="let contact of contacts$ | async" fxLayoutAlign="center center" style="margin-bottom: 10px;">
  <span>{{ contact.name }}</span>
  <span fxFlex="auto"></span>      <!-- new line -->
  <button mat-button [routerLink]="['/contact', contact.id]">Edit</button> <!-- new line -->
</mat-card>
<button mat-fab [routerLink]="['/contact/new']"><mat-icon>add</mat-icon></button>