<h1>Contact Edit</h1>
<mat-card *ngIf="contact$ | async as contact">
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="contact.name">
  </mat-form-field>
  <mat-card-actions align="start">
    <button mat-raised-button *ngIf="isNew" color="primary" (click)="saveContact(contact)">Save</button>
    <button mat-raised-button *ngIf="!isNew" (click)="editContact(contact)" style="margin-left: 10px;">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteContact()" style="margin-left: 10px;">Delete</button>
  </mat-card-actions>
</mat-card>